@using Blog.Web.Models.Domain
@model List<Blog.Web.Models.Domain.Tag>


<div class="container-fluid">
    <h1>List all Tags</h1>
</div>

 <div class="container" py-6>
     @if(Model !=null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Display Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var Tag in Model)
                {
                    <tr>
                        <th scope="row">@Tag.Id</th>
                        <td>@Tag.Name</td>
                        <td>@Tag.DisplayName</td>
                        <td><a asp-area="" asp-controller="AdminTags" asp-action="Edit" asp-route-id="@Tag.Id">Edit</a></td>
                    </tr>
                }
                </tbody>
        </table>
    }
    else
    {
        <p>No Tags found</p>
    }
</div>