@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog.Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.Web.styles.css" asp-append-version="true" />

    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    Blog.Web
                </a>

                <!-- Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNav">

                    <!-- LEFT MENU -->
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </li>


                        @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                            <!-- Admin Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                                    Admin
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="AdminTags" asp-action="Add">
                                            Add Tags
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-controller="AdminTags" asp-action="ListallTags">
                                            Show all Tags
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-controller="AdminBlogPosts" asp-action="Add">
                                            Add Blog Posts
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-controller="AdminBlogPosts" asp-action="List">
                                            All Blog Posts
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            }
                    </ul>

                    <!-- RIGHT AUTH AREA -->
                    <div class="d-flex align-items-center">

                        @if (signInManager.IsSignedIn(User))
                        {
                            <span class="me-3 text-dark fw-bold">
                                @User?.Identity?.Name
                            </span>

                            <a class="btn btn-outline-danger me-2"
                                   asp-controller="Account"
                                   asp-action="Logout">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary me-2"
                                   asp-controller="Account"
                                   asp-action="Register">
                                Register
                            </a>

                            <a class="btn btn-primary"
                                   asp-controller="Account"
                                   asp-action="Login">
                                Login
                            </a>
                        }

                    </div>

                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-3">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; 2026 - Blog.Web -
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>